{% extends 'template.html.twig' %}

{% block title %}
    {{ parent }} {{ child }}
{% endblock %}

{% block body %}
    <p><h1>{{ child }} The child of {{ parent }}</h1><p>

    Mon url absolue : {{ url('app_first') }}
{% endblock %}